.section{
  text-align: center;
}

.list{
  width: 500px;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 15px;
  border: 1px solid black;
  box-shadow: 5px 5px 10px #888888;
}

img{
  max-width: 200px;
  max-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

#empty{
  margin-top: 25px;
  text-align: center;
}